.seccion1{
    background-color: red;
    padding: 1%;
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-flow: wrap;
    
}

.seccion11{
    background-color:blue;
    width: 200px;
    height: 200px;
    margin: 20px;
    min-width: 200px;
    min-height: 200px;
    flex: 1;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     text-align: center;
}

/* .seccion1{
    background-color: red;
    padding: 1%;
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.seccion11{
    background-color:blue;
    width: 200px;
    height: 200px;
    margin: 20px;
    min-width: 200px;
    min-height: 200px;  
} */

/* comentario

comentario 2*/
